<%- include('partial/header')  -%>

   <div class="textalign">
    <h1 class="textalign f-weight margin-t-30">Log in Successful</h1>
    <a href="/users/logout" class="btn f-weight btn-2">Log out</a>
   </div>

<%- include('partial/footer')  -%>