
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,500;0,700;1,700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ***** */
body{
  background-color: rgb(236, 238, 240);
  margin: 0;
}

header{
  background-color: rgb(167, 167, 236);
  margin: 0;
  padding: 10px 20px;
}


a{
  text-decoration: none;
}

.list-figure{
  width: 50%;
}

.figure{
  width: 20%;
}

img{
  width: 100%;
}

.bg{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/bruno-kelzer-LvySG1hvuzI-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.container1{
  max-width: 400px;
  margin: 0 auto;
  padding: 0 32px;
}

.textalign{
  text-align: center;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.wrap{
  flex-wrap: wrap;
  justify-content: flex-start;
}

.p-div{
  width: 23%;
}

/* font */


.font-30{
  font-size: 30px;
  font-weight: 700;
  font-family: 'Lobster Two', cursive;
}

.font-20{
  font-size: 20px;
  font-weight: 600;
}

.font-50{
  font-size: 5rem;
  font-weight: 700;
}

.margin-tb-10{
  margin: 10px;
}

.margin-t-10{
  margin-top: 10px;
}

.margin-b-20{
  margin-bottom: 20px;
}

.margin-30{
  margin: 30px 0;
}

.white{
  color: white;
}
 
span{
  color: red;
  border-radius: 5px;
  background-color: aqua;
  padding: 5px 15px;
  margin-right: 5px;
}

/* button */
.btn{
  background-color: rgb(79, 79, 228);
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
}

.btn-1{
  border: none;
}

.btn-like{
  background-color: black;
  color: white;
}

.btn-delete{
  background-color: red;
}



h4{
  color: blue;
}

p{
  color: rgb(103, 81, 58);
  font-style: italic;
}

h3{
  color: cornflowerblue;
}

.form-product{
  margin-top: 5rem;
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(150, 153, 156);
}

.formInput{
  padding-left: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
}