<%- include('partial/header') -%>
 
<div class="container">
    <form action="/users/registration" method="POST" class="form-user">
        <h1 class="f-weight textalign">User Registration</h1>
        <% if(error){ %>
            <p class="font-red-400"><%= error %></p>
        <% } %>
        <input class="formInput" type="text" name="name" placeholder="Enter name...">
        <input class="formInput" type="email" name="email" placeholder="Enter email...">
        <input class="formInput" type="password" name="password" placeholder="Enter password..." required>
        <div class="textalign">
        <input class="btn f-weight" type="submit" value="REGISTER">
        </div>
    </form>
</div>


<%- include('partial/footer') -%>