<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user login</title>
    <link rel='stylesheet' href='/stylesheets/style1.css' />
</head>

<body>
    <header>
        <div class="flex">
            <a class="btn f-weight" href="/">HOME</a>
             <% if(user){ %>
                <a class="btn f-weight" href="/">Log out</a>   
             <% }else { %>
                 <div class="flex nav">
                     <a class="btn f-weight" href="/users/login">LOGIN</a>
                     <a class="btn f-weight" href="/users/registration">REGISTRATION</a>
                 </div>
             <% } %>
        </div>
    </header>

   <div class="textalign">
    <h1 class="textalign f-weight margin-t-30">Log in Successful</h1>
    <a href="/articles" class="btn f-weight btn-2">All article</a>
   </div>

<%- include('partial/footer')  -%>