<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <div class="flex">
            <a class="btn f-weight" href="/">HOME</a>
           
        </div>
    </header>

<div class="textalign margin-t-30">
    <h1 class="f-weight">Authentication Processing</h1>
    <a class="btn" href="/users/registration">registration</a>
    <a class="btn btn-2" href="/users/login">login</a>
</div>   

<%- include('partial/footer')  -%>