<%- include('partial/header') -%>

   <div class="container">
    <form action="" class="form-user">
        <h1 class="f-weight textalign">User Login</h1>
        <input class="formInput" type="email" name="email" placeholder="Enter email...">
        <input class="formInput" type="password" name="password" placeholder="Enter password...">
        <div>
            <input class="btn f-weight" type="submit" value="LOGIN">
        </div>
    </form>
   </div>

<%- include('partial/footer') -%>